extends /fragments/gallery.jade

block append head-scripts
    script(src='/scripts/albums.js')

block sidebar
    #side-fantom
    #sidebar
        #info-pane
            p Описание профиля
            p Дата регистрации: 00.00.2020
        #btn-pane
            .btn Редактировать профиль
            .btn Добавить альбом

albumItems
block content
    #albums-list
        each item in albums
            .album-block
                a(href='/album/#{item.id}')
                    .album-img
                        img(src='/preview/#{item.pathPreview}')
                    .album-name= item.name