extends fragments/general.jade

block navbar
    include fragments/head-anon.jade

block append head-styles
    link(rel='stylesheet' href='/styles/auth-form.css')

block content
    #form-holder
        form(action='/j_spring_security_check', method='post', id='formLogin', hidden)
        input.form-item(type='text', name='username', form='formLogin')
        input.form-item(type='password', name='password', form='formLogin')
        .form-item #{message}
        input.form-item(type='submit', value='Войти', form='formLogin')
        //-input(type='hidden', value='#{_csrf}', name='_csrf')