doctype html
html
    head
        title Photocol - #{title}
        script(src='/scripts/general.js')
        block head-styles
            link(rel='stylesheet' href='/styles/general.css')
    body
        block navbar
        block sidebar
        block content