#navbar
    #logo-holder
        a(href='/')
            img(src='/images/logo.png')
    #header #{title}
    #btn-group
        #navbar-btn-a
            block navbar-btn-a
        #navbar-btn-b
            block navbar-btn-b