#sidebar {
    display: block;
    position: fixed;
    background-color: #ffffff;
    border-right: 1px solid var(--main-color);
    top: 41px;
    width: 220px;
    height: 100%;
    font-size: 11pt;
}

#side-fantom {
    display: block;
    position: fixed;
    z-index: -10;
    top: 40px;
    height: 100%;
    width: 220px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

#info-pane p {
    margin: 5px 10px;
}

#btn-pane .btn {
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
    margin-bottom: -1px;
    padding: 5px 10px;
    cursor: pointer;
}

#btn-pane .btn:hover {
    background-color: var(--hover-color);
}

#albums-list {
    display: flex;
    padding-left: 225px;
    flex-wrap: wrap;
    padding-top: 40px;
}

#albums-list .album-block {
    width: 160px;
    margin: 20px;
    height: 150px;
    background-color: white;
    border: 1px solid var(--main-color);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.album-block a {
    text-decoration: none;
    color: var(--main-color);
}

.album-img {
    display: block;
    height: 120px;
    border-bottom: 1px solid var(--main-color);
}

.album-img img {
    width: 160px;
    height: 120px;
}

.album-name {
    text-decoration: none;
    height: 30px;
    padding-top: 5px;
    text-align: center;
}

#albums-list .album-block:hover{
    background-color: var(--hover-color);
}