:root {
  --main-color: #2873bd;
  --hover-color: #f0f0f0;
  --second-color: #cccccc;
}

body {
    background-image: url(/images/bg.png);
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

#navbar {
    background-color: white;
    color: var(--main-color);
    overflow: auto;
    display: flex;
    border-bottom: 1px solid var(--main-color);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.navbar-item:hover {
    background-color: var(--hover-color);
}

#logo-holder {
    width: 130px;
    height: 40px;
    float: left;
    border-right: 1px solid var(--main-color);
}

#logo-holder a {
    display: block;
}

#logo-holder img {
    display: block;
    margin: auto;
    width: 115px;
    height: 40px;
}

#header {
    margin: auto;
}

#header p {
    margin: 5px 0 3px;
    font-size: 16pt;
    font-weight: 500;
}

#btn-group .navbar-btn {
    display: inline-block;
    box-sizing: border-box;
    height: 100%;
    color: var(--main-color);
    border-left: 1px solid var(--main-color);
}

#btn-group .navbar-btn p {
    margin: 12px 5px 0;
    display: inline-block;
}